@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


@theme {
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Google Sans Flex', sans-serif;
}
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: ;
}

